#numericInput3 {
    position: relative;
}

#keypad3 {
    width: 100%;
    height: 300px;
    background: #e2e3e8;
    padding: 6px;
    position: absolute;
    top: 60px;
    left: 0px;
    z-index: 999;
}

.key3 {
    font-weight: bold;
    cursor: pointer;
    width: 30.7%;
    height: 80px;
    margin: 6px;
    background-color: White;
    float: left;
    padding: 0px 0px;
    border: 1px #c6d0e6;
    border-radius: 5px;
    font-size: 25px;
    color: #434040;
    text-align: center;
    white-space: normal !important;
    vertical-align: middle;
    padding-top: 25px;
}

    .key3:hover {
        background-color: LightBlue;
    }

    .key3:active {
        background-color: white;
    }

.Custombtn3 {
    font-weight: bold;
    cursor: pointer;
    width: 30.7%;
    height: 80px;
    margin: 6px;
    background-color: White;
    float: left;
    padding: 0px 0px;
    border: 1px #c6d0e6;
    border-radius: 5px;
    font-size: 25px;
    color: #434040;
    text-align: center;
    white-space: normal !important;
    vertical-align: middle;
    padding-top: 25px;
}

.Custombtn23 {
    font-weight: bold;
    cursor: pointer;
    width: 30.7%;
    height: 80px;
    margin: 6px;
    background-color: White;
    float: left;
    padding: 0px 0px;
    border: 1px #c6d0e6;
    border-radius: 5px;
    font-size: 25px;
    color: #434040;
    text-align: center;
    white-space: normal !important;
    vertical-align: middle;
    padding-top: 25px;
}
    .Custombtn3:hover {
        background-color: red;
    }

    .Custombtn23:hover {
        background-color: brown;
    }

    /*Decimal key Pad*/

#numericInput3Decimal {
    position: relative;
}

#keypad3Decimal {
    width: 100%;
    height: 300px;
    background: #e2e3e8;
    padding: 6px;
    position: absolute;
    left: 0px;
    z-index: 999;
}

.key3Decimal {
    font-weight: bold;
    cursor: pointer;
    width: 30.7%;
    height: 80px;
    margin: 6px;
    background-color: White;
    float: left;
    padding: 0px 0px;
    border: 1px #c6d0e6;
    border-radius: 5px;
    font-size: 25px;
    color: #434040;
    text-align: center;
    white-space: normal !important;
    vertical-align: middle;
    padding-top: 25px;
}

    .key3Decimal:hover {
        background-color: LightBlue;
    }

    .key3Decimal:active {
        background-color: white;
    }

.Custombtn3Decimal {
    font-weight: bold;
    cursor: pointer;
    width: 30.7%;
    height: 80px;
    margin: 6px;
    background-color: White;
    float: left;
    padding: 0px 0px;
    border: 1px #c6d0e6;
    border-radius: 5px;
    font-size: 25px;
    color: #434040;
    text-align: center;
    white-space: normal !important;
    vertical-align: middle;
    padding-top: 25px;
}

.Custombtn23Decimal {
    font-weight: bold;
    cursor: pointer;
    width: 30.7%;
    height: 80px;
    margin: 6px;
    background-color: White;
    float: left;
    padding: 0px 0px;
    border: 1px #c6d0e6;
    border-radius: 5px;
    font-size: 25px;
    color: #434040;
    text-align: center;
    white-space: normal !important;
    vertical-align: middle;
    padding-top: 25px;
}
    .Custombtn3Decimal:hover {
        background-color: red;
    }

    .Custombtn23Decimal:hover {
        background-color: brown;
    }