@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.eot');
    src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontAwesome.woff') format('woff'),
         url('../fonts/FontAwesome.ttf') format('truetype'),
         url('../fonts/FontAwesome.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family:"lato-regular";
	src:url("../fonts/Lato-Regular.eot?") format("eot"),
	url("../fonts/Lato-Regular.woff") format("woff"),
	url("../fonts/Lato-Regular.ttf") format("truetype"),
	url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
	font-weight:normal;font-style:normal;}

body{
	background: url("../imgMaster/bg.jpg") repeat scroll 0 0 / cover  rgba(0, 0, 0, 0);
}
.login-contents{
	width:470px;
	margin: 0 auto;
}
.logo{
	text-align:center;
	padding:33px 0px 20px;
}
.logo img{
	display: inline;
}
.login-page h1{
	font-size:90px;
	color:#fff;
}
.login-page p{
	color: #fff;
}
.login-page a{
	color: #fff;
}
.from-group{
	text-align:center;
}
.login-page .form-control{
	font-size:26px;
	text-align: center;
	width:100%;
	margin-bottom:20px;
	background:none;
	border:1px #fff solid;
	border-radius: 50px;
	color: #fff;
	padding:7px 0px;
	height: auto;
	margin:0 auto 20px;
}
.login-page .btn{
	padding:11px 0px;
	width:100%;
	margin-top:10px;
	border-radius: 50px;
	color: #fff;
	margin-bottom:40px;
}
.login-page .links{
	color:#fff;
}
.login-page .links span{
	padding:0px 2px;
}