@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.eot');
    src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontAwesome.woff') format('woff'),
         url('../fonts/FontAwesome.ttf') format('truetype'),
         url('../fonts/FontAwesome.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family:"lato-regular";
	src:url("../fonts/Lato-Regular.eot?") format("eot"),
	url("../fonts/Lato-Regular.woff") format("woff"),
	url("../fonts/Lato-Regular.ttf") format("truetype"),
	url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
	font-weight:normal;font-style:normal;
}

body{
	margin:0px;	
	background: #5e717a;
	font-family: lato-regular;
}
ul{
	margin:0px;
	padding-left:0px;	
}
a:hover{
	text-decoration:none;	
}
.container{
	background: #fff;	
	border-radius:7px;
    width: 99%;
}
.header-wrapper{
	margin-top:5px;
    margin-bottom: -17px;
}
.header-wrapper .container{
	margin-bottom:10px;
	padding-bottom:15px;
}
.header-left{
	width:18%;	
}

.order-tab {
	width: 23%;
	background-color: #EFF2BD;
	font-size: 21px;
	color: #654C38;
	text-align: center;
	padding: 5px 5px;
	float: left;
	line-height: 28px;
    box-sizing:border-box;
border-bottom-left-radius:35px;
border-top-right-radius:35px;
}
.order-tab:hover {
	background-color:#d4def7;
	cursor:pointer;
}
    .order-tab + .order-tab {
        	margin-left:2%;
    }
.green-tab {
	width: 20%;
	background-color: #EFF2BD;
	font-size: 21px;
	color: #654C38;
	text-align: center;
	padding: 5px 5px;
	float: left;
	line-height: 28px;
	margin-left: 10px;
border-bottom-left-radius:35px;
border-top-right-radius:35px;
}
.order-tab-blk{
	font-size:18px;
	color:#000;
	text-align:center;
	line-height:25px;
	
}
.green-tab-blk{
	font-size:21px;
	color:#000;
	text-align:center;
	line-height:25px;
	font-weight:bold;
}
.green-tab2{
	width:18%;
	background-color:#7dab49;
	font-size:21px;
	color:#FFF;
	text-align:center;
	padding:15px 10px 10px 10px;
	min-height:90px;
	line-height:28px;
	margin-left:2px;
}

.header-left{
	color: #797979;
	font-size:20px;
	line-height:32px;
	margin-bottom:10px;
	padding-top:15px;
	margin-top:0px;
}
.header-left img{
	max-width:100%;
	display:block;
	text-align:center;
}
.user-detail{
	font-size:16px;
	color:#583c26;
	line-height:25px;
	float:left;
	text-align:right;
    margin-right:10px;
}
.user-detail-bold{
	font-size:16px;
	color:#583c26;
	line-height:28px;
	text-align:right;
	font-weight:bold;
}
.logo{
	padding-top:10px;
	margin-left:-20px;
}

.gray-bg{
	background-color:#d6dbe7;
	padding:0px !important;
}

.bg-w{
	background-color:#ffffff;
	padding-bottom:10px;
	height:195px;
	}

.bg-product{
	background-color:#ffffff;
	padding-bottom:10px;
	height:336px;
	}

.btn-bg{
	margin:5px 0px 5px 0px;}
.pad{
	padding:10px 10px 10px 10px;
	}
.table-text2{
	font-size:15px;
	color:#656565;
	}
.table-text3{
	font-size:15px;
	color:#656565;
	text-align:center;
	}
.table-text-head{
	font-size:16px;
	color:#fff;
	
	}

.col{
	margin-left:-15px !important;}
.box{
	width:32%;
	background-color:#adadae;
	float:left;
    padding: 10px 5px;
    border: 1px #000000;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 17px;
    color: #ffffff;
    height: 50px;
    text-align:center;
}
.box span{
	margin-right:10px;
}	
.box-sm{
	width:24.4%;
	background-color:#d4def7;
	float:left;
	padding:0px 0px;
	border:1px #c6d0e6;
	border-radius:5px;
	margin-left:3px;
	margin-bottom:3px;
	font-size:13px;
	color:#434040;
	text-align:center;
	white-space: normal !important;
    height: 60px;	
}
.box-sm:hover{
	background-color:#c7d1eb;
	cursor:pointer;
}
.box-sm3{
	width:32.4%;
	background-color:#e2e3e8;
	float:left;
	padding:0px 0px;
	border:1px #c6d0e6;
	border-radius:5px;
	margin-left:3px;
	margin-bottom:6px;
	font-size:13px;
	color:#434040;
	text-align:center;
	white-space: normal !important;
    height: 60px;
	}
.box-sm3:hover{
	background-color:#d4def7;
	cursor:pointer;
	}
.box-sm2{
	width:97.4%;
	background-color:#e2e3e8;
	float:left;
	padding:0px 0px;
	border:1px #c6d0e6;
	border-radius:5px;
	margin-left:3px;
	margin-bottom:6px;
	font-size:13px;
	color:#434040;
	text-align:center;
	white-space: normal !important;
    height: 60px;
	}
.box-sm2:hover{
	background-color:#d4def7;
	cursor:pointer;
	}
.box-sm4{
	width:24.4%;
	background-color:#e2e3e8;
	float:left;
	padding:0px 0px;
	border:1px #c6d0e6;
	border-radius:5px;
	margin-left:3px;
	margin-bottom:3px;
	font-size:13px;
	color:#434040;
	text-align:center;
	white-space: normal !important;
    height: 60px;
	}
.box-sm4:hover{
	background-color:#d4def7;
	cursor:pointer;
	}

.box-last{
	width:15%;
	background-color:#53b4b5;
	float:left;
	padding:10px 5px;
	border:1px #3e9b9c;
	border-radius:5px;
	margin-left:12.5px;
	font-size:15px;
	color:#ffffff;
	text-align:center;
	line-height:18px;
	min-height:100px;
	}
.box-last:hover{
	background-color:#3e9798;
	cursor:pointer;
	}
.box-last:nth-child(1){
	margin-left:0px;
	}

.box-last span{
	margin-top:85px;	}

.box-last-vc{	
	width: 29.4%;
	background-color:#d4def7;
	float:left;
	padding:10px 5px;
	border:1px #3e9b9c;
	border-radius:5px;
	margin-left:5px;
	margin-right:5px;
margin-bottom: 10px;
	font-size:13px;
	color:#434040;
	text-align:center;
	line-height:18px;
	

	}
.box-last-vc:hover{
	background-color:#53b4b5;
	cursor:pointer;
	color:#fff;
	}
.clear{
	clear:both;
	display:block;	}

.table-right{
	width:100%;
	background-color:#ffffff;
	float:left;
	margin-left:10px;
	}
	
	.table-bar{
	width:100%;
	background-color:#eff2f8;
	float:left;
	padding:5px 5px;

	}
.box img{
	max-width:19%;
	}
.box:hover{
	background-color:#53b4b5;
	color:#FFF;
	cursor:pointer;}
.active{
	background-color:#7dab49;
}
.active-sm{
	background-color:#c7d1eb;
}
.active-last{
	background-color:#3e9798;
}
.active-vac{
	background-color:#53b4b5;
	color:#FFF;
}
.selected {
    background-color:#c6d0e6;
}
.table-top{
    padding-top: 5px;
	}
.vac-det{
	font-size: 17px;
color: #656565;
height: 220px;
font-weight: bold;
padding: 0px !important;
	}
	.vac-det-bg{
	width:100%;
	background-color:#ffffff;
	float:left;
	padding:5px 5px;

	}
    .vac-det-Kitchen{
	font-size: 17px;
color: #656565;
height: 500px;
font-weight: bold;
padding: 0px !important;
	}
.text{
	font-size:24px;
	color:#4f5155;
	text-align:center;
	line-height:normal;
	margin:15px 0px 15px 0px;}
.payment-text{
	font-size:17px;
	color:#000002;
	text-align:center;
	line-height:normal;
	margin:25px 0px 15px 0px;
	font-weight:bold;}
.btn-mar{
	margin-top:15px;
}
.height-180 {
    height: 180px; 
}
.height-465 {
    height: 465px; 
}
/*==============================================================*/
.s1-left {
	//width:78%;
	//float:left;
	margin: 15px 10px 10px 10px;
}
.s1-right {
	//width:18%;
	float:right;
	//margin: 15px 10px 10px 10px;
}
.logom {
	width:18%;
	float:left;
}
.s1-center {
    float:left;
    width:64%;
}
.logom img{
    height: 69px;
}
.logom2 img{
    height: 85px;
    width:100px;
}
div .logo_main{
    width:14%;
}
.nav-ic {
	float:right;
}
.exit-text a{
	display:block;
	text-align:center;
	font-size:15px;
	background-color:#7dab49;
	border:1px solid #cccccc;
	color:#ffffff;
	border-radius:3px;
	text-decoration:none;
}
.logom{
    width: 12%;
}

.scrolla{
	overflow-y: scroll;
    overflow-x: hidden;
	}

.pbill {
	margin-top:10px;
}
.porder {
	margin-top:2px;
}
.pbill tr td {
	width: 65%;
	padding: 5px;
    font-size:16px;
}
.porder tr td {
	width: 65%;
	padding: 5px;
    font-size:16px;
}
td.leftval {
}
td.rightval {
}
.pbill tr:nth-child(even) {background: #f7f8fb}
.pbill tr:nth-child(odd) {background: #FFF}
.porder tr:nth-child(even) {background: #f7f8fb}
.porder tr:nth-child(odd) {background: #FFF}
/*============================================================*/	

@media screen and (min-width: 1024px)and (max-width: 1280px){
	.login-wrapper{
	top:15%;
	padding:0px;
	box-shadow: 0px 2px 19px -10px #383838;	
	width:22%;
	border-radius:8px;
	border-radius: 8px;
    box-shadow: 0 2px 19px -10px #383838;
    float: right;
    position: fixed;
	right:4%;
	}
}

@media screen and (min-width: 951px)and (max-width: 1100px) {
    div .logo_main{
        width:10%;
    }
    .s1-right {
       max-width: 235px;
    }
    .s1-center {
        width:63%;
    }
    html,body{
        overflow-x:hidden;
    }
    div .box-sm{
        width: 24%;
    }
}

@media screen and (max-width: 1030px) {
    div .box-last{
        margin-left:9px;
    }
    div .box-last:nth-child(1){
        margin-left: 0px;
    }
    #dvPendingBills > div:first-child {
        padding-left:10px !important;
    }
    div .box-sm3 {
        width: 48%;
        padding-left: 5px;
        padding-right: 5px;
    }
    #dv_lstTable .box-last-vc{
        width:46%;
    }
    #btnMenuItem .order-tab-blk{
        margin-top: 15px;
        display: inline-block;
        vertical-align: top;
    }
    #btnMenuItem > img{
        width: 30px;
        margin-top: 6px;
    }
}
@media screen and (max-width: 950px) {
    .s1-right, .s1-left, .logom, .user-detail, .col-md-6, .peb {
        float: none !important;
        display: block;
        width: auto !important;
        text-align: center !important;
        margin: 15px auto !important;
    }
    body div .item_pd_right{
        width:100%;
        padding-right:15px;
    }
    body div .delivery_main{
        padding-right:15px !important;
    }
    body div .item_pd_left{
        padding-left:15px;
    }
    body .item_pd_top > div.col-md-2{
        padding-right:15px !important;
    }
    .order-tab {
        width: 95%;
        margin: 0 auto 15px;
        display: block;
        text-align: center;
        float: none;
    }

    .green-tab {
        width: 75%;
        margin: 0 auto 15px;
        display: block;
        text-align: center;
        float: none;
    }

    .gray-bg {
        padding: 10px 0px !important;
    }

    .pbill tr td {
        width:auto;
        padding: 5px;
    }

    div .logo_main {
        float: left !important;
        margin-left: 3% !important;
    }

    div .s1-right {
        float: right !important;
        width: auto !important;
        margin-right: 3% !important;
    }

    div .s1-center {
        float: none;
        width: 100%;
        clear:both;
    }

    div .s1-left {
        margin-top: 0px !important;
    }

    .s1-right .user-detail {
        display: inline-block;
        vertical-align: top;
        margin-top: 0px !important;
        margin-right: 10px !important;
    }
    div .box-sm{
        width: 24%;
    }
}
	
@media screen and (max-width: 625px){
.box-last {
	width: auto;
	float: none;
	display:block;
	margin:0 auto 15px;
	text-align:center;
}
div .box-sm{
    width: 24%;
}
div .box-sm2{
    width: 32.4%;
}

}

@media screen and (max-width: 480px){
.box-sm, .box-sm2, .box {
	width: auto;
	float: none;
	display:block;
	margin:0 auto 15px;
	text-align:center;
}
    div .box-sm {
        width:100%;
    }
}

.new-col {
    margin-left:5px;
    background-color:#adadae;
    max-width:99.2%;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    font-size:20px;
    font-weight:bold;
    color:white;
}

.new-col2 {
    margin-left:5px;
    background-color:#adadae;
    max-width:99.2%;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
   
}
body .delivery_main {
    padding-right: 2.5px;
}
body .item_pd_left{
    padding-left: 2.5px;
}
body .item_pd_top{
    padding-top:5px;
}
body .item_pd_right{
    padding-right: 5px;
    width: 32.95%;
}
.pbill tbody tr.highlight td { 
    background-color: skyblue;
}