<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup useLegacyV2RuntimeActivationPolicy="true">         
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
<appSettings>
  <add key="server" value="8WcipiG5TXPxh5tKO8pAng=="/>
  <add key="uid" value="vuwEaUI88dM="/>
  <add key="pwd" value="/pJ1vzewiADzVmWyG6R2Pg=="/>
  <add key="database" value="SKInG7Uzfy2fYspjizOytg=="/>
  <add key="ReportPath" value="F:\Ali\FS\FS Apps\CORN POS\Application\CORNPOSEmailService\CORNPOSEmailService\bin\Debug\DailySalesReport\"/>
  <add key="Date" value="2021-12-28"/>
</appSettings>
</configuration>
