<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup useLegacyV2RuntimeActivationPolicy="true">
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
</startup>
<appSettings>
<add key="connString" value="OrdrfA7tvMVs3uscFrjTjY4BrfYxYeGEsslKxbH+CVLImPmhEFMTSiA8xUy5xJkMo9EXYECZXdWNkfZQTR/wCSKhkKw7u17z"/>
<add key="PrinterName" value=""/>
<add key="DistributorID" value="2"/>
<add key="IsFullKOT" value="0"/>
<add key="IsPrintInvoice" value="0"/>
<add key="LogoPath" value="C:\Program Files (x86)\CORN Point of Sale\CORN KOT Printer\logo.jpg"/>
<add key="IsXpeditor" value="1"/>
<add key="XpeditorPrinterName" value="KITCHEN"/>
<add key="MultiplePrinters" value="0"/>
<add key="MultiplePrinterNames" value=""/>
<add key="IsLocationName" value="0"/>
<add key="LocationName" value="Lasani Burger Naya Pull"/>
<add key="SinglePrinter" value="1"/>
<add key="ExcludeCancelKOT" value="0"/>
<add key="StickerPrinterName" value=""/>
</appSettings>
</configuration>