<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_DB_FG_LahoreConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_DB_FG_Lahore;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_SERVER_FGConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_SERVER_FG;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDMConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDM;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDM_CurrentConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDM_Current;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDM_TESTConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDM_TEST;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDM_NewConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDM_New;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDM_BDNConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDM_BDN;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_BDNConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_BDN;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_SGAConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_SGA;Persist Security Info=True;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDMPLConnectionString"
            connectionString="Data Source=.;Initial Catalog=SAMS_ONLINE_FDMPL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDMPLConnectionString1"
            connectionString="Data Source=ALI-PC;Initial Catalog=SAMS_ONLINE_FDMPL;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SAMS_ONLINE_FDMPLConnectionString2"
            connectionString="Data Source=.;Initial Catalog=ArshadPOS;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.needConnectionString"
            connectionString="Data Source=FS-DEV-II;Initial Catalog=need;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbASonsConnectionString"
            connectionString="Data Source=fs-l3\FASTSERVICES;Initial Catalog=dbASons;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbMaleeBOConnectionString"
            connectionString="Data Source=tcp:fs-l3\FASTSERVICES,49172;Initial Catalog=dbMaleeBO;User ID=Ali;Password=ali1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbTLliveConnectionString"
            connectionString="Data Source=tcp:fs-l3\FASTSERVICES,49172;Initial Catalog=dbTLlive;User ID=Ali;Password=ali1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbAutumTestConnectionString"
            connectionString="Data Source=tcp:fs-l3\FASTSERVICES,49172;Initial Catalog=dbAutumTest;Persist Security Info=True;User ID=Ali;Password=ali1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbCafeConnectionString"
            connectionString="Data Source=192.168.18.221;Initial Catalog=dbCafe;User ID=sa;Password=fast1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbNewCafeConnectionString"
            connectionString="Data Source=FS-DEV-I5\MSSQLSERVER2012;Initial Catalog=dbNewCafe;Integrated Security=True;User ID=sa;Password=firms1234;Connect Timeout=0"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.Mozzarella2720170310ConnectionString"
            connectionString="Data Source=.;Initial Catalog=Mozzarella2720170310;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.Mozzarella2720170310ConnectionString1"
            connectionString="Data Source=FS-Dev-R1;Initial Catalog=Mozzarella2720170310;User ID=sa;Password=firms1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbNewBuildConnectionString"
            connectionString="Data Source=FS-Dev-R1;Initial Catalog=dbNewBuild;Persist Security Info=True;User ID=sa;Password=firms1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbCORNPOsConnectionString"
            connectionString="Data Source=FS-DEV-SADAQAT;Initial Catalog=dbCORNPOs;User ID=sa;Password=Fast1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbCORNPOsConnectionString1"
            connectionString="Data Source=FS-DEV-SADAQAT;Initial Catalog=dbCORNPOs;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.Cafe_MaleeConnectionString"
            connectionString="Data Source=FS-DEV-R1;Initial Catalog=Cafe-Malee;Persist Security Info=True;User ID=sa;Password=firms1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.SignatureConnectionString"
            connectionString="Data Source=Ali-PC;Initial Catalog=Signature;User ID=sa;Password=Fast1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.TerrazzaConnectionString"
            connectionString="Data Source=corn.faastdemo.com;Initial Catalog=Terrazza;User ID=sa;Password=Fast1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.DemoCafeConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DemoCafe;Persist Security Info=True;User ID=sa;Password=Fast1234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.DemoCafeConnectionString1"
            connectionString="Data Source=65.1.163.122;Initial Catalog=DemoCafe;User ID=app;Password=Fast12341234"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.dbDevCafeConnectionString"
            connectionString="Data Source=DESKTOP-GQFFB0O\SQLEXPRESS;Initial Catalog=dbDevCafe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CORNBusinessLayer.Properties.Settings.VillaBroadwayConnectionString"
            connectionString="Data Source=DESKTOP-Q07NSGI\SQLEXPRESS;Initial Catalog=VillaBroadway;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
