@font-face
{
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.eot');
    src: url('../fonts/FontAwesome.eot?#iefix') format('embedded-opentype'), url('../fonts/FontAwesome.woff') format('woff'), url('../fonts/FontAwesome.ttf') format('truetype'), url('../fonts/FontAwesome.svg#varela_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: "Verdana";
    src: url("../fonts/Verdana.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: "light";
    src: url("../fonts/light.otf");
    font-weight: normal;
    font-style: normal;
}

body
{
    padding: 0px;
    font-family: "light";
    margin: 0px;
    background: #000000;
}
h1, h2, h3, h4, h5, h6, li, a, ul, span, strong, input, textarea
{
    font-family: "light";
    font-weight: normal;
    font-style: normal;
    list-style: none;
    text-decoration: none;
}
.padding-5
{
    padding-left:5px !important;
    padding-top:5px !important;
    padding-right:5px !important;
    }
    .padding-calender
{
    padding-left:5px !important;
    padding-top:35px !important;
    padding-right:5px !important;
    }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
}
.container
{
    max-width: 1280px;
    margin: 0 auto;
    background: #C24D5A;
    padding: 0px;
}
.row
{
    margin: 0px;
}
.padding
{
    padding: 0px 10px;
}
.color_bg
{
    background: #C24D5A;
}


.header.row
{
}

.header .picture
{
}
.header .picture .btn-default
{
    background: transparent;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-size: 1em;
    margin-top: 7px;
    width: 100%;
}
.header .picture .caret
{
    margin-left: 30px;
}

.second_bar .navbar
{
    border-radius: 0px;
}
.second_bar .navbar-default
{
    border: 0px;
}

.second_bar .navbar ul li
{
    margin-right: 1px;
}
.second_bar .col-md-6
{
    padding-right: 0px;
    width: 48.6%;
    padding-left: 0px;
}
.second_bar .col-md-1
{
    margin-left: 4px;
    padding-left: 1px;
    padding-right: 0;
    width: 9.3%;
}
.second_bar .btn-default
{
    width: 100%;
    text-align: left;
}
.second_bar .container-fluid
{
    border: 0px;
    padding-right: 0px;
    background: #C24D5A;
    padding-left: 0px;
}
.second_bar .caret
{
    margin-top: -10px;
}
.second_bar .form-control
{
    width: 100%;
}
.second_bar .navbar-collapse
{
    padding: 0px;
}
.color
{
    background: #CD5C5C;
    color: #ffffff;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 12px;
}
.color .input-group
{
    width: 100%;
    padding: 0px 7px;
}

/*body*/
.padding_right
{
    padding-right: 10px;
}
.body_color
{
    background: #DA6262;
    padding: 10px;
    margin-bottom: 7px;
}
.body_color .text
{
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 5px;
}
.body_color .input-group
{
    margin-right: 2px;
    border-radius: 0px;
    margin-bottom: 8px;
    width: 100%;
}
.body_color .form-control
{
    border: 1px #FE8787 solid;
    border-radius: 0px;
    width: 100%;
}
.textareaclass .form-control
{
    border: none;
}
.color_bottom
{
    border: 1px #FE8787 solid;
    background: #DA6262;
    padding: 10px;
}


.color_bottom1
{
    background: #B95353;
    border: 1px #FE8787 solid;
    padding: 7px;
}
.color_bottom1 h2
{
    font-size: 18px;
    color: #FFADAD;
    margin-bottom: 6px;
   
}
.color_bottom h2
{
    font-size: 30px;
    color: #ffffff;
    margin-top: 10px;
     max-width:289px;
    width:240px;
}
.color_bottom .input-group img
{
    margin-right: 10px;
    margin-top: 7px;
}
.bottom
{
    margin-bottom: 10px;
}
/*footer*/


.fast .copy2
{
    background: #495C67;
    padding-left: 8px;
    color: #2a3542;
}



.aside .form-control
{
    width: 100%;
    background: #394C58;
    color: #8DBDDB;
}
.aside .form-control
{
    width: 100%;
}
.input_padding
{
    padding-right: 10px;
}
.payment
{
    text-align: center;
}
.payment .btn-group
{
    width: 100%;
}
.payment .btn
{
    padding: 40px 30px;
    background: #02d5ac;
    width: 100%;
    color: #ffffff;
    border-radius: 0px;
    border: none;
    margin-top: 10px;
    font-size: 30px;
}
.void
{
    text-align: center;
}
.void .btn-group
{
    width: 100%;
}

.y_3
{
    color: #dfc168;
}


.second_bar .navbar
{
    margin-bottom: 0px;
}


/*second*/



.main-section .container
{
    padding: 58px 150px;
}
.maintop
{
}
.maintop .col-md-4
{
    margin-right: 2px;
    width: 33%;
}
.tab
{
    background: #733131;
    float: left;
    width: 100%;
    padding: 0px 30px;
    opacity: 0.8;
}
.tab:hover
{
    opacity: 1;
    text-decoration:none;
}
.tab h3
{
    font-size: 24px;
    color: #ffbfbf;
    margin: 21px 0px;
    text-decoration:none;
}
.main-center
{
    margin: 25px 0px;
}
.main-center .col-md-4
{
    margin-right: 2px;
    width: 33%;
}
.payable-amount
{
    background: #161c23;
    padding: 0px 0px;
}
.main-center h2
{
    color: #fff;
    font-size: 30px;
    border-bottom: 1px #c24d5a solid;
    margin: 0px;
    padding: 10px;
}
.main-center h1
{
    font-size: 60px;
    margin: 0px;
    color: #fff;
    text-align: right;
    padding: 0px 10px 10px;
}
.received-payment
{
    background: #2a3542;
}
.balanced-amount
{
    background: #a00f2c;
}
.prints
{
    background: #da6262;
}
.prints h2
{
    border-bottom: 0px !important;
}
.prints .form-control
{
    background: none;
    border: 0px;
    text-align: right;
    display: inline;
    box-shadow: none;
    padding: 0px;
}
.form-control .pul-right
{
    padding: 10px;
}
.prints .form-control input[type="text"]
{
    width: 70px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 10px 5px;
}
.tab img
{
    padding: 14px 0px;
}
.main-bottom
{
    text-align: right;
}
.btnvoid
{
    background: #f49b6c;
    color: #fff;
    font-size: 30px;
    padding: 10px 30px;
    text-align: center;
    border: 0px;
    opacity: 0.8;
}
.save
{
    background: #02d5ac;
    color: #fff;
    font-size: 30px;
    text-align: center;
    border: 0px;
    padding: 10px 30px;
    opacity: 0.8;
}
.btnvoid:hover, .save:hover
{
    opacity: 1;
}
.btnvoid:focus, .save:focus
{
    opacity: 1;
}
.footer-section
{
}
.footer-section h1
{
    font-size: 50px;
    color: #2a3542;
}
.footer-section .col-md-6, .footer-section .col-md-12
{
    padding: 0px 15px;
}
.footer .container
{
    background: #495c67;
}
.copyrights .container
{
    color: #586e8a;
    font-size: 14px;
    padding: 10px 0px;
    background: #2a3542;
}
.copyrights .right
{
    text-align: right;
}

.header .sale .btn-default
{
    background: none repeat scroll 0 0 #b22222;
    border: 0 none;
    border-radius: 0;
    color: #ffffff;
    font-size: 1.6em;
    margin-left: 1px;
    padding: 11px 0;
    width: 99%;
}
.logo
{
    padding: 1px 0 0 23px;
}
.logo img
{
    margin-right: 12px;
    padding: 5px 0;
}
.aside
{
    text-transform: uppercase !important;
}
.body_color .form-control
{
    background: transparent;
}

.textareaclass .form-control
{
    background: #ffffff;
}
.headercolor
{
    background: #2A3542;
}
.headercol
{
    background: #2A3542;
    padding: 5px 0px;
}
.aside .input-group
{
    width: 100%;
    margin-bottom: 8px;
}
.void .btn
{
    padding: 10px 30px;
    background: #f49b6c;
    width: 100%;
    color: #ffffff;
    border-radius: 0px;
    border: none;
    margin-top: 10px;
    font-size: 30px;
}
.aside .form-control
{
    height: 48px;
    border: 1px #618195 solid;
    text-align: right;
    font-size: 30px;
    color: #a5dcff;
}
.value
{
    text-align: right;
    font-size: 30px;
    color: #a5dcff;
}
.text
{
    font-family: "Verdana";
}
.aside h4
{
    font-size: 16px;
    margin-bottom: 4px;
}
.fast .copy2
{
    background: #495c67;
    color: #2a3542;
    margin: 0 -10px 0 0;
    padding: 15px 0 15px 10px;
}
.copy
{
    background: none repeat scroll 0 0 #2a3542;
    color: #586e8a;
    margin: 0 -10px 0 0;
    padding: 8px;
}
.header span
{
    color: #6f8cae;
    font-size: 2.5em;
}
.second_bar .navbar ul li a
{
    background: none repeat scroll 0 0 #733131;
    color: #ffc0c0;
    font-size: 18px;
}
.inter_body .form-control
{
    color: #ffffff;
}
/*update*/

@media (min-width: 1024px)
{
    .header .sale .btn-default
    {
        background: none repeat scroll 0 0 #b22222;
        border: 0 none;
        border-radius: 0;
        color: #ffffff;
        font-size: 2.2em;
        margin-left: 3px;
        padding: 5px 0;
        width: 99%;
    }
    .header .picture
    {
        padding-left: 72px;
    }
    .container
    {
        width: 1280px;
        margin: 0 auto;
        background: #C24D5A;
    }
    .aside
    {
        width: 20%;
    }
    .second_bar
    {
        margin: 4px 0px 4px 0px;
    }
    .second_bar .navbar ul li a
    {
        background: none repeat scroll 0 0 #733131;
        color: #ffc0c0;
        font-size: 18px;
        height: 86px;
        margin-right: 4px;
        padding: 30px 5px 10px;
        text-align: center;
        vertical-align: middle;
        width: 118px;
    }
    .second_bar .navbar ul li:last-child a
    {
        margin-right: 0px;
    }


    .footer.index
    {
        margin-left: -10px;
        position: absolute;
        top: -105px;
        width: 100%;
    }

    .col-md-9
    {
        width: 80%;
    }

    .color_bottom1 .img-responsive
    {
        padding-left: 14px;
    }
    .margin
    {
        margin-right: 11px;
    }
    .color_bottom2
    {
        background: none repeat scroll 0 0 #da6262;
        border: 1px solid #fe8787;
        padding: 4px 10px;
    }
    .color_bottom2.col-md-4
    {
        width: 31%;
    }
    .color_bottom1 h2
    {
        color: #ffadad;
        font-size: 24px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .aside
    {
        background: #2a3542;
        padding: 10px 10px 41px 10px;
        margin-bottom: -1px;
        color: #ffffff;
    }
    .textareaheight
    {
        height: 91px !important;
        overflow-y: scroll;
    }
    .inter_body .form-control
    {
        width: 100%;
        color: #ffffff;
    }

    .inter_body .col-md-1, .inter_body .col-md-2, .inter_body .col-md-3, .inter_body .col-md-4, .inter_body .col-md-5, .inter_body .col-md-6, .inter_body .col-md-7, .inter_body .col-md-8, .inter_body .col-md-9, .inter_body .col-md-10, .inter_body .col-md-11, .inter_body .col-md-12
    {
        min-height: 1px;
        padding-left: 0;
        padding-right: 5px;
        position: relative;
    }
}
@media all and (max-width:800px)
{
    .color_bottom.col-md-4
    {
        width: 100%;
        clear: both;
    }
    .padding_right
    {
        padding-right: 0px;
    }
    .margin
    {
        margin-right: 0px;
    }
    .footer.index
    {
        margin-left: 0px;
        position: relative;
        top: 0px;
    }
    .input_padding
    {
        padding-right: 0;
    }
    .second_bar .col-md-1
    {
        width: 100%;
    }
    .second_bar .col-md-1
    {
        margin-left: 0px;
    }
    .second_bar .navbar ul li a
    {
        background: #733131;
        height: auto;
        padding: 22px 5px 10px;
        text-align: center;
        vertical-align: middle;
        width: auto;
        font-size: 18px;
        color: #ffc0c0;
    }
    .fast .copy2
    {
        background: none repeat scroll 0 0 #495c67;
        color: #2a3542;
        margin: 0px;
        padding: 15px 0 15px 10px;
    }
    .copy
    {
        margin: 0px;
    }
    .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse
    {
        margin-left: 0;
        margin-right: 0;
    }

}


@media (max-width: 1019px)
{
    .maintop .col-md-4, .main-center .col-md-4
    {
        width: auto;
    }
    .second_bar .col-md-6
    {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    .aside h4
    {
        color: #ffffff;
    }
    .second_bar .col-md-1
    {
        width: 100%;
    }
    .second_bar .col-md-1
    {
        margin-left: 0px;
    }
    .headercolor
    {
        background: none repeat scroll 0 0 #2a3542;
        float: left;
        height: 55px;
        padding-right: 10px;
        text-align: center;
        z-index: 9999;
    }
    .headercol
    {
        background: none repeat scroll 0 0 #2a3542;
        height: 55px;
        padding: 5px 0;
    }
}




@media (max-width: 767px)
{
    .btnvoid, .save
    {
        padding: 10px 20px;
    }
}




@media (max-width: 599px)
{
    .main-section .container
    {
        padding: 58px 40px;
    }

}






@media (max-width: 479px)
{
    .main-center h1
    {
        font-size: 30px;
    }
    .main-center h2
    {
        font-size: 18px;
    }

    .btnvoid, .save
    {
        width: 100%;
        margin-bottom: 5px;
    }
    .headercolor
    {
        background: none repeat scroll 0 0 #2a3542;
        float: none;
        height: 55px;
        padding-right: 0px;
        text-align: center;
        z-index: 9999;
    }
    .headercol
    {
        background: none repeat scroll 0 0 #2a3542;
        height: 55px;
        padding: 5px 0;
    }
}

@media (min-width: 1024px) and (max-width: 1280px)
{
    .container
    {
        width: 1024px;
        margin: 0 auto;
        background: #C24D5A;
    }
    .col-md-9
    {
        width: 75%;
    }
    .aside.col-md-3
    {
        width: 25%;
    }
    .body_color .text
    {
        color: #ffffff;
        font-size: 10px;
        margin-bottom: 5px;
    }
    .second_bar .navbar ul li a
    {
        background: none repeat scroll 0 0 #733131;
        color: #ffc0c0;
        font-size: 15px;
        height: 86px;
        margin-right: 4px;
        padding: 30px 5px 10px;
        text-align: center;
        vertical-align: middle;
        width: 92px;
    }
    .margin
    {
        margin-right: 8px;
    }
    .color_bottom1 h2
    {
        color: #ffadad;
        font-size: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .color_bottom h2
    {
        color: #ffffff;
        font-size: 24px;
        margin-top: 0;
    }
    .color_bottom .input-group img
    {
        margin-right: 10px;
        margin-top: 0;
    }
    .color_bottom
    {
        background: none repeat scroll 0 0 #da6262;
        border: 1px solid #fe8787;
        padding: 6px;
    }
    .color_bottom2
    {
        background: none repeat scroll 0 0 #da6262;
        border: 1px solid #fe8787;
        padding: 13px 10px;
    }
}


   /*calculater*/
.calculater .modal-content{
background:#161c23;
border:2px #c24d5a solid;

	}

.calculater .btn-success{
	background:#f49b6c;
	color:#ffffff;
	border:none;
	padding:10px 30px;
	
	}
.calculater .modal-header2,
.calculater	.modal-title{
background:#c24d5a;
	color:#ffffff;
	}
.calculater .modal-header2 {
    
    margin: 0 auto;
    width: 80%;
	height:74px;
}
.save {
    background: none repeat scroll 0 0 #02d5ac;
    border: 0 none;
    color: #fff;
    font-size: 30px;
    opacity: 0.8;
    padding: 20px 16px;
    text-align: center;
}
.btnvoid {
    background: none repeat scroll 0 0 #f49b6c;
    border: 0 none;
    color: #fff;
    font-size: 30px;
    opacity: 0.8;
    padding: 20px 15px;
    text-align: center;
    text-transform: uppercase;
}
.main-bottom {
    margin-top: 20px;
    text-align: right;
}
.modal-footer {
    border-top: none;
    margin-top: 15px;
    padding: 19px 20px 20px;
    text-align: right;
}
.modal-header2 h1{
	font-size:25px;
	}
.modal-header2 {
    border-bottom: none;
    min-height: 16.4286px;
    padding:  0px 10px 10px 5px; 
}

.number{
	font-size:50px;
	margin-top: 10px;
	}
.receive{
	width:86%;
	margin:0px auto;
	
	}
.calculater .receive .modal-title {
    background: none ;
    color: #ffffff;
}
.receive h1{
	font-size:25px;
	border-bottom:2px #c24d5a solid;
	}
.receive .number{
	color:#ffffff;
	  margin-top: -10px;
	}
.cal{
	font-size:36px;
	color:#c24d5a;
	border:2px #c24d5a solid;
	}

.receive span {
    display: inline-block;
    height: 92px;
    line-height: 88px;
    margin-bottom: 16px;
    text-align: center;
    width: 89px;
}
.receive span.h {
    display: block;
    float: left;
    height: 200px;
    width: 89px;
	line-height: 200px;
}
.receive span.h-r {
    background: #a84848;
    color: #000;
    display: block;
    float: right;
    font-size: 20px;
    height: 200px;
    line-height: 31px;
    padding-top: 60px;
    width: 89px;
}
.receive span.erro{
    display: block;
    float: right;
    line-height: 40px;
    width: 89px;
	}
.calcula .modal-footer {
    margin-right: 50px;
    margin-top: 0;
    padding-bottom: 40px;
    padding-top: 0;
}
.calcula .modal-dialog{
	width:664px;
	}
	
.calculater .btn-success {
    background: #f49b6c;
    border: medium none;
    color: #ffffff;
    font-size: 39px;
    height: 73px;
    padding: 10px 30px;
    width: 210px;
}
.modal-body {
    padding: 20px 20px 10px 20px;
}

/*payment*/	
	
	
.pay .container {
    background: #c24d5a;
    margin: 0 auto;
    width: 100%;
}
.pay .main-section .container {
    padding: 58px 106px;
}
.tab {
    background: #733131;
    float: left;
    height: 86px;
    margin-right: -3px;
    opacity: 0.8;
    padding: 15px 30px;
    width: 100%;
}
.maintop{
	
}
.maintop .col-md-4{
	margin-right:2px;
	width:33%;
}
.maintop .col-md-4:last-child{
	margin:0px!important;
	}

.tab:hover{
	opacity: 1;
}
.main-center{
	margin:4px 0px;
}
.main-center .col-md-4 {
    margin-right: 4px;
    width: 33%;
}
.main-center .col-md-8 {
    width: 66.4%;
}
.main-center .items {
    background: none repeat scroll 0 0 #953225;
    height: 92px;
    margin-bottom: 4px;
    padding: 0;
}
.items h1 {
    color: #fff;
    font-size: 45px;
    margin: 0 30px 0 0;
    padding: 0 10px;
    text-align: right;
}
.items h2 {
    border: medium none;
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 10px 10px 0;
}
.payable-amount {
    background: none repeat scroll 0 0 #161c23;
    height: 134px;
    margin-bottom: 4px;
    padding: 0 30px;
}
.payable-amount h2 {
    border-bottom: 2px solid #c24d5a;
    color: #fff;
    font-size: 29px;
    margin: 0;
    padding: 10px 0;
}
.payable-amount h1 {
    color: #fff;
    font-size: 60px;
    margin: 0;
    padding: 0 0 10px;
    text-align: right;
}
.prints {
    background: none repeat scroll 0 0 #9b3e48;
    height: 134px;
}
.prints .form-control input[type="text"] {
    border: medium none;
    float: right;
    font-size: 25px;
    font-weight: bold;
    height: 54px;
    margin-right: 14px;
    margin-top: 15px;
    padding: 0 5px;
    text-align: center;
    width: 96px;
}
.check {
    border: 0 none;
    display: block;
    float: right;
    margin-right: 9px !important;
    margin-top: 55px !important;
}
.received-payment {
    background: none repeat scroll 0 0 #2a3542;
    margin-bottom: 4px;
   padding: 0 81px 0 30px;
	height:184px;
}
.balanced-amount {
    background: none repeat scroll 0 0 #a00f2c;
    height: 181px;
     padding: 0 81px 0 30px;
}
.received-payment h2, .balanced-amount h2{
    border-bottom: 2px solid #c24d5a;
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 10px;
}
.main-center .payable-amount h2 {
    border-bottom: 2px solid #c24d5a;
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 10px 10px 10px 0;
}
@media (max-width: 1024px){

.pay .container {
    background:  #c24d5a;
    margin: 0 auto;
    width: 100%;
}
.maintop .col-md-4{
	margin-right:0px;
	width:100%;
}
.main-center .col-md-4 {
    margin-right: 0px;
    width: 100%;
}
.main-center .col-md-8 {
    width: 100%;
}
.pay .main-section .container {
    padding: 0px;
}

.tab {
    height: auto;
}

.main-center .items {
    height:auto; 
}
.payable-amount { 
    height:auto;
}
}


.ShowPanel
{
    display:block;
}
.HidePanel
{
    display:none;
}


/*AutoComplete flyout */
.autocomplete_completionListElement
{
    margin : 0px!important ;
    background-color : #733131;
    color : #ffc0c0;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor : 'default' ;
    overflow : auto ;
    height : 200px ;
    font-family : Tahoma ;
    font-size : small ;
    text-align : left ;
    padding: 5px;
    list-style-type : none ;
    z-index:100;
    
    }
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
   {
    background-color : white;
    color :  Black;
    padding: 5px;
    }

    /* AutoComplete item */
.autocomplete_listItem
    {
    background-color : #733131;
    color :  #ffc0c0;
    text-align : left ;
    padding: 5px;
   }
   .modalBackground
   {
    background-color:Black;
   }
   
   /* employee-infomation */
.employee-infomation{
	
}
.employee-infomation .top .btn{
	border-radius:0px;	
}
.employee-infomation .top .btnlist{
	margin-bottom:10px;	
}
.employee-infomation .top .search:after{
	content: '\f002';	
	 font-family: FontAwesome;
    font-size: 20px;
    margin-top: 2px;
    padding: 0 3px 1px;
    position: absolute;
    right: 16px;
    top: 0;
	color:#fff;
	cursor:pointer;
	background:#8ab054;
}
.employee-infomation .center .table th{
	text-align:center;	
}
.employee-infomation .center .table a > span{
	 background: none repeat scroll 0 0 #fff;
    border: 2px solid #c2957c;
    border-radius: 50%;
    font-size: 10px;
    padding: 4px;
    text-align: center;
	color:#c2957c;
}
.employee-infomation .bottom .pagination{
	float:right;
	margin-bottom:10px;	
}
ul.pagination > li > a, ul.pagination > li > span{
	 border-radius: 2px !important;
    color: #919191;
    float: none;
    font-weight: bold;
}
.employee-infomation .select {

border:1px solid #ddd;
width:100%;
height:250px;

}
.employee-infomation .select > option{

background-color :#fff;
font-size:14px;
padding:5px; 
border-bottom-style: solid;
border-bottom-width: 1px;
border-bottom-color:  #ddd;

}
.employee-infomation .select > option:hover{background-color:#f9f9f9;}

/* modal */

.modal-background {
	background:#000;
	filter:alpha(opacity=80);
	opacity:0.8;
}
.modal-header{
	background: #e2c200;
	color:#fff;	
} 
.modal-title{
	font-size:30px;	
}
.modal-header span{
	padding-right:10px;
	opacity:0.7;		
}
.modal-content{
	border-radius:0px;	
}
.modal-dialog{
	
}
.modal-footer, .modal-body{
	margin:0px 30px;
	padding:20px 0px;
}
.modal-body label{
	font-weight:normal;
	color:#6c6c6c;	
}
.modal-body label span{
	color:#d5d5d5;
	padding-right:5px;
}
button.close{
	background: none repeat scroll 0 0 #cc0000;
    color: #fff;
    opacity: 1;
    padding: 4px 0 4px 8px;	
}
header, nav, left, right, section, footer {
	display:block;
}
.heading {
	display:block;
	color:#006699;
	font-size:17px;
	font-weight:bold;
}
footer{
padding:10px;
float:left;

}

.dropdown ul {
	float:right;
	margin:10px 10px 0px 0px;
}
.dropdown ul li {
	display:block;
	float:left;
    width: 100%;
	font-size:12px;
}
.dropdown ul li span{
	color:#3399cc;
}
.dropdown ul li div {
	display:none;
	position:absolute;
	width:140px;
	margin:5px 0px 0px -125px;
	border-right:1px solid #E1E1E1;
	border-bottom:1px solid #E1E1E1;
	cursor:pointer;
}
.dropdown ul li:hover div {
	display:block;
}
.dropdown ul li div ul {
	width:100%;
	float:left;
	margin:0px 0px 0px 0px;
	padding-left:0px;
}
.dropdown ul li div ul li {
	width:100%;
	padding-right:0px;
	clear:both;
}
.dropdown ul li div ul li p{
	display:block;
	width:50px;
	margin-left:120px;
	border-left:1px solid #E1E1E1;
}
.dropdown ul li div ul li a{
	display:block;
	padding:3px 6px;
	border-top:1px solid #E1E1E1;
	border-left:1px solid #E1E1E1;
	color:#006699;
	text-decoration:none;
	background-color:#FFF;
	
}
.dropdown ul li div ul li a:hover{
	color:#FFF;
	background-color:#3399cc;
	
}