body, div, p, h1, h2, h3, h4, ul, li, table
{
	border-style: none;
    border-color: inherit;
    border-width: medium;
    margin: 0;
    padding: 0;
   
}

/*Modal Popup*/
.modalBackground {
	background-color:Black;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:750px;
}
