<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  <supportedRuntime version="v2.0.50727"/>
</startup>
  <appSettings>
    <add key="connString" value="server=cornl.faastdemo.com;uid=app;pwd=Fast12341234; database=DemoCafe"/>
    <!--<add key="connString" value="server=DESKTOP-GQFFB0O\SQLEXPRESS;Integrated Security=SSPI;Persist Security Info=False; database=dbDevCafe;"/>-->
    <add key="server" value="cornl.faastdemo.com"/>
    <add key="uid" value="app"/>
    <add key="pwd" value="Fast12341234"/>
  </appSettings>
</configuration>
