<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup useLegacyV2RuntimeActivationPolicy="true">
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
</startup>
<appSettings>
<add key="connString" value="UQ/+7EySPliOyIrpVgfnob80Eu+tgoph70W/9hfMw4cHYodzMrDVpbNPFxP5Patn/ZWVVI3Dgxy8w23FYVIQWBaskS825pBX6mo13V3uqwgLiWL4U6y53odmpjjIRacpUKNa7MqK5FFaAQIfLXJNDJ6f3DJUay4FflgBmPDqb+sdTNbMPwWscO+3ELnHD1OI5h8mgSoPoNpOGq+P9vOjz9yfprOSorIc58WAFUDKT3gUc5V9qfUsgSyeMQtqZcnAk8TKPrOYjEhWcarHdyoFzwJpYLuZX5FzX9HzaseM8rB6xXIloKiWcF18j3UAJ400"/>
<add key="PrinterName" value="ABC"/>
<add key="DistributorID" value="1"/>
<add key="IsFullKOT" value=""/>
<add key="IsPrintInvoice" value=""/>
<add key="LogoPath" value="C:\Program Files (x86)\CORN Point of Sale\CORN KOT Printer\logo.jpg"/>
<add key="IsXpeditor" value="ABC"/>
<add key="IsLocationName" value=""/>
<add key="LocationName" value="ABC Restaurant"/>
<add key="ExcludeCancelKOT" value=""/>
<add key="StickerSectionBoth" value=""/>
<add key="StickerPrinterName" value=""/>
<add key="LenghtySticker" value=""/>
<add key="PizzaBoxSticker" value=""/>
<add key="SectionWisePrint" value="0"/>
<add key="FullKOTGroup" value="1"/>
<add key="ServiceExecutionType" value="1"/>
</appSettings>
</configuration>