<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CORNDashBoard.Properties.Settings.dbDevCafeConnectionString"
            connectionString="Data Source=DESKTOP-GQFFB0O\SQLEXPRESS01;Initial Catalog=dbDevAli;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="conString" value="server=DESKTOP-GQFFB0O\SQLEXPRESS01;Integrated Security=SSPI;Persist Security Info=False; database=dbDevAli;"/>
    <!--<add key="conString" value="server=corndprem.faastdemo.com;uid=app;pwd=Fast12341234; database=NY212Test;"/>-->
  </appSettings>
</configuration>